---
import type { ImageMetadata } from 'astro';
import { Image, getImage } from 'astro:assets';
import Cloudflare from 'cloudflare';
import dotenv from 'dotenv';

dotenv.config();

interface Props {
	imageFolder: string;
}

const { imageFolder } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*/*');
const imagePaths = Object.keys(images).filter((imagePath) => {
	return imagePath.startsWith(`/src/assets/${imageFolder}/`);
});

// get alt text from Cloudflare KV
const client = new Cloudflare({
	apiToken: process.env.CF_API_TOKEN_KV,
});

const kvOptions = {
	account_id: 'b0dda00db555f237f277259bed93134b',
};
try {
	const altTexts = await client.kv.namespaces.values.get(
		'da0d1ae333544faea791fb166dfbc01c',
		'img-altTexts',
		kvOptions,
	);
	console.log(altTexts);
} catch (error) {
	console.error(error);
}
---

<div
	id="gallery"
	class="container mx-auto px-2 pb-2 grid grid-cols-2 md:grid-cols-3 gap-2"
>
	{
		imagePaths.map(async (imagePath) => {
			let image = images[imagePath]();
			let optimizedImage = await getImage({
				src: image,
				width: 1920,
			});

			// Get the caption for the current image
			// let altText = await fetch('https://api.imgflip.com/getcaption');

			// console.log(altText);

			return (
				<a
					href={optimizedImage.src}
					data-pswp-width={optimizedImage.attributes.width}
					data-pswp-height={optimizedImage.attributes.height}
					target="_blank"
					class="overflow-hidden rounded-md border-[1px] border-primary hover:border-secondary"
				>
					<Image
						src={image}
						alt={
							'testsgfdgsdfgdsfgsdfg.fsgf;gsokpfgjpo\nisdfjkgdfgjskidfgops;djfgofpdi\ndasfdsafasfdsafdsf'
						}
						height={350}
						class={
							'object-cover w-full grayscale-[80%] hover:grayscale-0 transition duration-300 ease-in-out aspect-[3/2]'
						}
					/>
				</a>
			);
		})
	}
</div>

<script>
	import PhotoSwipeLightbox from 'photoswipe/lightbox';
	import PhotoSwipeDynamicCaption from 'photoswipe-dynamic-caption-plugin';
	import 'photoswipe/style.css';
	import 'photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css';

	let lightbox: PhotoSwipeLightbox;

	document.addEventListener('astro:page-load', () => {
		lightbox = new PhotoSwipeLightbox({
			gallery: '#gallery',
			children: 'a',
			pswpModule: () => import('photoswipe'),
			paddingFn: (viewportSize) => {
				return {
					top: 30,
					bottom: 30,
					left: 70,
					right: 40,
				};
			},
		});

		const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
			type: 'auto',
		});
		captionContent: (slide) => {
			return slide.data.element.querySelector('img').getAttribute('alt');
		};

		lightbox.init();
	});

	document.addEventListener('astro:before-swap', () => {
		lightbox.destroy();
	});
</script>
